<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel=StyleSheet href="style.css" type="text/css" media=screen>
    <title>Neri Vilches Portfolio</title>
  </head>
  <body>
    <!--Header-->
    <header class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="logo-img">
        <img src="../assets/APLogo.png" alt="logo argentina programa" class="img-fluid logo" >
      </div>
      <nav class="col-xs-12 col-sm-8 col-md-8 col-lg-8 logo" id="sociales">
        <a href="_blank"><img src="../assets/facebook.png" alt="facebook" class="img-fluid redes"></a>
        <a href="_blank"><img src="../assets/instagram.png" alt="instagram" class="img-fluid redes"></a>
        <a href="_blank"><img src="../assets/linkedin.png" alt="linkedin" class="img-fluid redes"></a>
        <a href="_blank"><img src="../assets/github.png" alt="github" class="img-fluid redes"></a>
        <a href="_blank"><img src="../assets/twitter.png" alt="twitter" class="img-fluid redes"></a>
      </nav> 
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <a href="_blank"  id="button">Inicio</a> 
      </div>
    </header>
    <div id="banner">
      <img src="../assets/banner.png" alt="banner" class="img-fluid row">         
    </div> 
    <!--Acerca de-->
    <div class="row text-center" id="acerca-de">  
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="posición-foto">
        <img src="../assets/foto_de_perfil.png" alt="foto de perfil" class="img-fluid" id="foto-perfil">
      </div>      
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="nombre">Enrique Neri Vilches Carmona</p>
        <p>Full Stack Developer</p>        
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div>
          <h1>Acerca de mí</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum suscipit repellendus officia. Tempora ducimus enim repudiandae. Fugit doloremque assumenda reprehenderit, omnis, repudiandae accusamus non adipisci consequatur dolor ipsa excepturi!</p>
        </div>
      </div>
    </div>
    <!--Experiencia-->
    <div class="exp-lab row">
      <h1>Experiencia laboral</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logo-empresa">
          <img src="../assets/foto-de-perfil.jpg" alt="Logo de la empresa" class="img-fluid imagen-empresa">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-lab">
          <ul>
            <li>
              <h2>Trabajo 1</h2>
              <h3>(año-año)</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui doloremque accusantium quasi autem! Quis illum iste est sapiente necessitatibus, molestiae nulla incidunt ea, minus nesciunt quaerat neque? Nesciunt, nulla?</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!--Educación-->
    <div class="exp-lab row">
      <h1>Educación</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 logo-empresa">
          <img src="../assets/foto-de-perfil.jpg" alt="Logo de la empresa" class="img-fluid imagen-empresa">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 text-lab">
          <ul>
            <li>
              <h1>Título 1</h1>
              <h3>(año-año)</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui doloremque accusantium quasi autem! Quis illum iste est sapiente necessitatibus, molestiae nulla incidunt ea, minus nesciunt quaerat neque? Nesciunt, nulla?</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!--hard & soft skills-->
    <div class="row exp-lab">
      <h1 id="skills-titulo">hard & soft skills</h1>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 skills" id="hard-soft-skills">
        <img src="../assets/skills.png" alt="skills" class="img-fluid img-skills">
      </div>
    </div>
    <!--Proyectos-->
    <div class="row exp-lab">
      <h1>Proyectos</h1>
      <div class="row">        
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 text-lab">
          <ul>
            <li>
              <h2>Proyecto 1</h2>
              <h3>(año-año)</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui doloremque accusantium quasi autem! Quis illum iste est sapiente necessitatibus, molestiae nulla incidunt ea, minus nesciunt quaerat neque? Nesciunt, nulla?</p>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 img-proyecto">
          <a><img src="../assets/foto-de-perfil.jpg" alt="Logo de la empresa" class="img-fluid imagen-proyecto"></a>
        </div>
      </div>
    </div>
    <!--footer-->
    <footer class="row">
      <div class="col-12" id="logo-footer">
        <img src="../assets/APLogo.png" alt="logo argentina programa" class="img-fluid logo-footer-arg" >
      </div>
      <nav class="col-12 logo" id="sociales-footer">
        <a href="_blank"><img src="../assets/facebook.png" alt="facebook" class="img-fluid redes-footer"></a>
        <a href="_blank"><img src="../assets/instagram.png" alt="instagram" class="img-fluid redes-footer"></a>
        <a href="_blank"><img src="../assets/linkedin.png" alt="linkedin" class="img-fluid redes-footer"></a>
        <a href="_blank"><img src="../assets/github.png" alt="github" class="img-fluid redes-footer"></a>
        <a href="_blank"><img src="../assets/twitter.png" alt="twitter" class="img-fluid redes-footer"></a>
      </nav> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>