<header class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="logo-img">
      <img src="../assets/APLogo.png" alt="logo argentina programa" class="img-fluid logo" >
    </div>
    <nav class="col-xs-12 col-sm-8 col-md-8 col-lg-8 logo" id="sociales">
      <a href="_blank"><img src="../assets/facebook.png" alt="facebook" class="img-fluid redes"></a>
      <a href="_blank"><img src="../assets/instagram.png" alt="instagram" class="img-fluid redes"></a>
      <a href="_blank"><img src="../assets/linkedin.png" alt="linkedin" class="img-fluid redes"></a>
      <a href="_blank"><img src="../assets/github.png" alt="github" class="img-fluid redes"></a>
      <a href="_blank"><img src="../assets/twitter.png" alt="twitter" class="img-fluid redes"></a>
    </nav> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <a href="_blank"  id="button">Inicio</a> 
    </div>
</header>
  <div id="banner">
    <img src="../assets/banner.png" alt="banner" class="img-fluid row">         
  </div> 
