/*header*/
header {
    display: flex;
    height: 70 px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
/*Logo argentina programa*/
#logo-img {
    display: flex;
    justify-content: center;
}
.logo {
    max-height: 75px;
    min-height: 50px;
}
/*Redes sociales*/
#sociales {
    display: flex;
    justify-content: right;
    padding: 15px;
}
.redes {
    max-height: 50px;
}
/*botón de inicio*/
#button {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-right: 10px;
}
nav a:hover {
    color: blue;
}
/*Pantallas pequeñas*/
@media (max-width:575px) {
    #sociales {
        justify-content: center;
    }
    #button {
        justify-content: center;
    }
}
#banner {
    display: flex;
    width: 100%;
    align-items: center;
}
/*acerca de*/
#acerca-de {
    background-color: cornflowerblue;
    padding: 10px;
    align-items: center;
}
#nombre {
    font-weight: bold;
    margin-top: 20px;
}
#foto-perfil {
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    max-height: 200px;
}