<!--Experiencia-->
<div class="exp-lab row">
    <h1>Experiencia laboral</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logo-empresa">
        <img src="../assets/foto-de-perfil.jpg" alt="Logo de la empresa" class="img-fluid imagen-empresa">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-lab">
        <ul>
          <li>
            <h2>Trabajo 1</h2>
            <h3>(año-año)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui doloremque accusantium quasi autem! Quis illum iste est sapiente necessitatibus, molestiae nulla incidunt ea, minus nesciunt quaerat neque? Nesciunt, nulla?</p>
          </li>
        </ul>
      </div>
    </div>
</div>
<!--Educación-->
<div class="exp-lab row">
    <h1>Educación</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 logo-empresa">
        <img src="../assets/foto-de-perfil.jpg" alt="Logo de la empresa" class="img-fluid imagen-empresa">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 text-lab">
        <ul>
          <li>
            <h1>Título 1</h1>
            <h3>(año-año)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui doloremque accusantium quasi autem! Quis illum iste est sapiente necessitatibus, molestiae nulla incidunt ea, minus nesciunt quaerat neque? Nesciunt, nulla?</p>
          </li>
        </ul>
      </div>
    </div>
</div>
